.tagpicker {
  position: relative;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.tagpicker .results {
  border: 1px solid;
  border-top: none;
  padding: 1px;
}

.tagpicker.focused,
.tagpicker .results {
  border-color: #0099ff;
}

.tagpicker .results {
  border-radius: 3px;
  border-top: none;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tagpicker ul {
  width: 100%;
  padding: 0;
  margin: 5px 0;
  list-style-type: none;
}

.tagpicker .tag, 
.tagpicker .new-tag {
  margin: 0 0 5px 5px;
}

.tagpicker .result {
  cursor: pointer;
  padding: 3px 5px;
}
.tagpicker .selected {
  background-color: #B2ACF5;
}

.tagpicker .tag {
  display: inline-block;
  background-color: gray;
  color: #fff;
  border-radius: 2px;
  padding: 5px 10px;
}

.tagpicker .new-tag {
  display: inline;
}

.tagpicker .delete {
  font-family: sans-serif;
  font-weight: lighter;
}

.tagpicker .delete:before {
  content: "\00a0";
}

.tagpicker .delete:hover {
  cursor: pointer;
}

.tagpicker .results {
  /* width and left are calculated like this because */
  /* otherwise the results are 2px less than the tagpicker wrapper for some reason */
  /* (seems like a dirty hack, should probably find a better way to do this) */
  width: calc(100% + 2px);
  left: -1px;
  position: absolute;
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0 10px;
  z-index: 1;
}

/* make the input textfield invisible */
.tagpicker input {
  border: 0;
}
.tagpicker input:focus {
  outline: 0;
}